/* photon ✴ Theme Components and Templates */

@import 'articles/article';
@import 'articles/article-excerpt';
@import 'articles/article-showcase';



body {
  // --bg: #FFF;
  font-size: 1.2em;

  > header {
     // flex-direction: row;
     --color-bg: none;
     // --color-fg: white;

  }

  > .asides {
    --color-bg: none;
    // --color-fg: white;

    // flex-direction: row;
    // justify-content: space-around;
    // align-items: flex-start;
  }
}
