/* photon ✴ Theme Components and Templates */

@import 'articles/article';
@import 'articles/article-excerpt';
@import 'articles/article-showcase';


:root {
  --font: "EBG12";
  --font-display: "EBG12";

  --bullet: '✴';
}

body {
  // --bg: #FFF;
  font-size: 1.2em;

  > header {
     // flex-direction: row;
     --color-bg: none;
     // --color-fg: white;

  }

  > .asides {
    --color-bg: none;
    // --color-fg: white;

    // flex-direction: row;
    // justify-content: space-around;
    // align-items: flex-start;
  }
}

article {
  > figure.modal {
    background: white;
  }
  > .gallery.modal {
    background: white;
  }
  > .content {
    > * + * {
      margin: 0;
    }
    > p {
      text-indent: 1em;
      &:first-child::first-letter {
        font-size: 1.5em;
      }
    }
    > ul {
      margin: var(--fitz) var(--fitz-2);
    }
    > .summary {
      border: none;
      padding: var(--fitz) var(--fitz-2);
      margin: 0;
    }
  }
}

code {
  font-family: "EBG12";
  font-style: italic;
  font-weight: 600;
}

.footnotes {
  font-family: "EBG08";
  code {
    font-family: "EBG08";
  }
  ol > ol {
    margin: 1em;
  }
  p::first-line {
    font-family: "EBG08-SC";
  }
}
