article {

  > * {
  }

  > figure {
    background: none;

    > img {
      max-height: 16em;
      object-fit: contain;
    }

    > figcaption {
    }

    &:empty {
      display: none;
    }
  }

  > header {
    text-align: center;

    > h1, > h2 {
      font-weight: 400;
    }

    > nav {
    }

    > time {
      display: none;
    }
  }

  > .content {
    width: 100%;
    max-width: 36em;
    margin: 0 auto;

    > .summary {
      background: none;
      font-size: 1.4em;
      text-align: center;
      font-style: italic;

      &::after {
        content: '•';
      }

      > * {
        margin-bottom: var(--fitz);
      }

      > ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          &::after {
            display: block;
            content: "•";
          }
          &:last-child::after {
            display: none;
            content: "";
          }
        }
      }
    }

    ul, ol {
      margin: 1em 2em;
    }

    h1, h2, h3, h4 {
      text-align: center;
    }

    .mermaid {
      .node {
        stroke: #333;
        stroke-width: 1px;
        cursor: pointer;
        .prop {
          fill: white;
        }
        .def {
          fill: #e8e0eb;
        }
        .post {
          fill: white;
        }
        .cn {
          fill: #e8ebe0;
        }
        .current {
          stroke-width: 3px;
        }
      }
    }

    .footnote {

    }
    a {
      font-variant: small-caps;
      font-weight: bold;
      &::before{
        content: '[';
      }
      &::after{
        content: ']';
      }
    }
  }

  > footer {


    > aside {
      h1 {
        // display: none;
      }
      ul, li {
        margin: 0;
        h3 {
        }
      }
    }

    > nav {
    }

    a {

    }

  }

  > .data {

    h1, table {
    }
    h1 {
    }
    th, td {
    }
    th {
    }
    td {
    }

  }
  > .article-gallery {

    > figure {

      a {

          > img {

          }

          > figcaption {

          }
        }
      }
  }

  .sibling {

    > a {

      &.prev {


        &:before {
        }
      }

      &.next {

        &:after {
        }
      }
    }
  }

  .breadcrumbs {
    a {

    }
  }

  &.excerpt,
  &.showcase {


    .article-share {
    }

    &:hover {
      // color: inherit;
      // background: inherit;

      .more {
      }

      a:hover {
      }
    }

    .more {
    }

  }


}
