/* Error: Undefined mixin.
 *    ,
 * 67 | /   @include media-bp(3) {
 * 68 | |     font-size: 1.2em;
 * 69 | \   }
 *    '
 *   themes/photon-child/scss/articles/_article-showcase.scss 67:3  @import
 *   themes/photon-child/scss/photon-child.scss 5:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 67 \2502  \250c    @include media-bp(3) {\a 68 \2502  \2502      font-size: 1.2em;\a 69 \2502  \2514    }\a    \2575 \a   themes/photon-child/scss/articles/_article-showcase.scss 67:3  @import\a   themes/photon-child/scss/photon-child.scss 5:9                 root stylesheet";
}
